
<div class="myarticle">
    <img src="/web/uploads/PodText_2.gif" class="main-content-img">
<p style="margin-left: 3%">This site was create by Mikhaylo Hodovanuk.<br>
All rights are reserved.
</p>
</div>
