{{  use('yii\helpers\Html') }}
{{ set(this,'title',model.title) }}
<div class="container">
    <div class="myarticle">
        <img src="/web/uploads/{{ model.image }}" class="read-article-image">
        <h3>{{ model.title }}</h3>
        <div>{{ model.fulltxt | raw }} </div>

    </div><br>
    <div><p style="font-family: 'Times New Roman', sans-serif; clear: both">Upload date: {{ model.date }}</p></div>
    {% if app.user.isGuest == false %}
    {{ hmtl.a('Update',{0: 'site/update','id': model.id },{
        'class': 'btn btn-primary'
    }) | raw }}
    {% endif %}
    <script type="text/javascript">
        VK.init({
            apiId: 5868704,
            onlyWidgets: true
        });
    </script>
    <br><br><br>
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments('vk_comments');
    </script>
</div>
