<div class="panel-group">
    {% if app.user.isGuest == false %}
        {{ html.a('Create article','createart',{
            'class': 'btn btn-success'
        }) | raw }}
    {% endif %}
        {% for m in model %}
        <div class="myarticle">
            <h3> {{ m.title }} </h3>
            {% if m.image %}
            <img src="/web/uploads/{{ m.image }}" class="mishagodovanuk">
            {% endif %}
            <p class="article-margin"> {{ m.preview }} </p>
            <div class="article-margin">Upload date: {{ m.date }} </div>
            {{ html.a('Read',{0: 'article', 'id': m.id},{
                'class': 'btn btn-info'
            }) | raw}}
            {% if app.user.isGuest==false %}
            {{ html.a('Update',{0: 'update', 'id': m.id},{
                'class': 'btn btn-primary'
            }) | raw}}
                {{ html.a('Delete',{0: 'delete', 'id': m.id},{
                    'class': 'btn btn-danger'
                }) | raw}}
            {% endif %}
        </div>
        {% endfor %}

</div>