
{{ use('yii/widgets/ActiveForm') }}
{% set form = active_form_begin({
'options': {
'class': 'form-horizontal',
}
}) %}
    {{ form.field(model, 'title').label('Header of your articles') | raw }}
    {{ form.field(model, 'preview').label('Preview text of your article') | raw }}
     {{ form.field(model, 'fulltxt').widget('dosamigos\\ckeditor\\CKEditor' , {
         'preset' : 'advanced',
         'options' : {
             'placeholder' : 'Select',
         },
     }).label('Text of your article') | raw }}
     {{ form.field(model, 'image').fileInput().label('Upload file')  | raw }}
     {{ html.submitButton('Update', {
         'class': 'btn btn-success',
     }) | raw }}
{{ active_form_end() }}