<div class="content-container">
    <img class="main-content-img"src="/web/image/rick.gif" title="Rick is here because it's my favorite character" id="rick">
    <div class="main-text">Hello user you are entered on my site!!!<br>So be nice and check some information about me.</div>
</div>