<div class="content-container">
    <img src="/web/image/mainimg.jpg" class="myimage">
    <div class="myarticle">
        <ul>Main information</ul>
        <ol>Full name: Mikhaylo Hodovanuk Sergiyovich</ol>
        <ol>Age: 19 years old</ol>
        <ol>Contact information: email( mishagodovanuk@gmail.com) skype (mishagodovanuk)</ol>
        <ol>Aducation: Ryasniky high school, SSS Rivne Ukraine College NUBiP. Program developer</ol>
        <ol>Job experience and professional skills: Job experience none. Basic level of C++, Visual Basic, Java Script.
            Knowledge of: Html, CSS, PHP, C#.</ol>
        <ol>Additional skills and interests: Pre-intermediate level of English, excellent knowledge of Windows OC,
            user experience of Adobe photoshop, Corel Draw, 1C, MathLab also 3200 mmr in dota. Interests are: Bonsai, books, films and TV show, programming, computer games, science and space.</ol>
        <ol>Personal achievement: In high school won prizes in regional competitions in computer science and history<br>

        </ol>
        <ol>Personal quality: Responsible, easily trained, I have organizational skills. Lead a healthy lifestyle.</ol>
    </div>
</div>