{% if app.session.hasFlash('delete') %}
<div class="alert alert-success">Your article was delete</div>
{% elseif app.session.hasFlash('article_created') %}
<div class="alert alert-success">Your article was create</div>
    {% elseif app.session.hasFlash('update_success') %}
        <div class="alert alert-success">Your article was updated</div>
    {% elseif app.session.hasFlash('feedback_success') %}
        <div class="alert alert-success">Your mail was send</div>
{% endif %}