{{ use('yii\widgets\ActiveForm') }}
{{ use('dosamigos\ckeditor\CKEditor') }}
{{ use('Yii') }}
<div class="container">
    {% set form = active_form_begin() %}
    {{ form.field(model,'title').label('Header of article') | raw }}
    {{ form.field(model,'preview').label('Short description of article') | raw }}
    {{ form.field(model,'fulltxt').widget('dosamigos\\ckeditor\\CKEditor',{
        'options': {'raw': 6},
        'preset': 'advanced',
    }) |raw }}
    {{ html.submitButton('Update', {
        'class': 'btn btn-success',
    }) | raw }}
    {{ active_form_end() }}
</div>
