html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {

    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.myarticle{
    font-family: "Times New Roman",sans-serif;
    padding: 10px;
}
.myimage{
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.fedimg{
    max-width: 50px;
    max-height: 50px;
}
.mainimg{
    margin-top: 1px;
    max-width: 100px;
    max-height: 50px;
}
.main-content-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.main-text{
    margin-top: 15px;
font-size: 26px;
    font-family: "Times New Roman",sans-serif;
    text-align: center;
}

.mishagodovanuk{
    border-radius: 5px;
    max-height: 100px;
    max-width: 200px;
    margin-bottom: 5px;
}
.article-margin{
    margin-top:5px;
    margin-bottom:5px;
}
.read-article-image{
    max-height: 480px;
    max-width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

